* {    
  font-family: 'Montserrat', sans-serif;
}

.input-container {
  width: auto;
}

input input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 320px) {
  .input {
    background-position: 5px;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 0;
    outline: none;
    padding-left: 40px;
    height: 35px;
    font-size: 11px;
    transition: 500ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .input:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

  .input-container p {
    color: #b71c1c;
    width: 200px;
    margin-top: 5px;
    display: grid;
    font-size: 11px;
  }
}

@media (min-width: 425px) {
  .input-container p {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .input {
    height: 40px;
    font-size: 12px;
  }

  .input-container p {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .input {
    border-radius: 20px;
    height: 50px;
    font-size: 15px;
  }

  .input-container p {
    width: 250px;
  }
}

@media (min-width: 1440px) {
  .input {
    font-size: 16px;
  }

  .input-container p {
    width: 350px;
    font-size: 14px;
  }
}
